__pycache__/
__pycache__
.pytest_cache
.ruff_cache
*.pyc
*.pyo
.vscode
.venv
.env
.env*
.gitignore
.git
.pre-commit-config.yaml
Makefile
README.md
Dockerfile*
docker-compose*
docker_compose
api.http
requirements.txt
tests
LICENSE
scripts
nginx.conf
test.py
test_oauth.html
